

*   
    {
    margin:0; 
    padding: 0;
    box-sizing: border-box;
    }

.logo {
        position: absolute;
        left:10px;
        top:20px;
        width:100px;
      }    

h1 
    {
    color: #4d4c4c;
    text-align: center;
    background-color: #8cc04e;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    }
h2 
    {
    color: #4d4c4c;
    font-family: sans-serif;
    text-align: center;
    background-color: #8cc04e;
    font-size: 60px;
    }

option
    {
    background-color: black;
    color: white;
    }  
    
section
    {
    background-color: #a6a6a6;
    background: linear-gradient(to right,#a6a6a6, #FFFFFF);
    }
            
a
    {color:#737373;
    font-weight: bold;
    text-decoration: none;
    }

a:visited
    {color:blueviolet;
    font-weight: bold;
    text-decoration: none;
    }

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}   
    
.container2 {
  display: flex;
  justify-content: flex-end; /* Alinea horizontalmente a la derecha */
  align-items: flex-end; /* Alinea verticalmente al final */
  /* Otros estilos para el contenedor */
}  

.container4 {
    display: flex;
    justify-content: right;
    align-items: center;
}   

.container5 {
  display: flex;
  justify-content: flex-end; /* Alinea horizontalmente a la derecha */
  align-items: flex-end; /* Alinea verticalmente al final */
  /* Otros estilos para el contenedor */
}  

Body
    {
    background-color: #a6a6a6;
    background: linear-gradient(to right,#a6a6a6, #FFFFFF);
    }

    h3
    {
    text-align: center;
    text-emphasis: none;
    font-family: 'Arial Narrow Bold';
    }