header {
        background-color: #89ce36;
        padding: 20px;
        
        text-align: center;
        font-size: 16px;
        box-sizing: border-box;
        font-style: italic;
        font-family:'Times New Roman', Times, serif;
} 
header nav{
    display: flex;
    flex-direction: row;
    border: solid 2px white;    
}

header ul{
        display: flex;
        flex-direction: row;
        list-style:  none;
}

header ul li{
    margin-left: 10px;
    padding: 10%;
    justify-content: start;
}

header ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

header .logo {
padding: 20px;
}   


main{ 
    padding:50px 50px;
    box-sizing: border-box;
    border: solid 2px black;
}

table{
    width: 100%;
    max-width: 700px;
}

.Whatsapp{
    position: fixed;
    right: 30px;
    bottom: 30px;
}

#TextoFamilia{
    color:black;
    background-color: beige;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    top: -330px;
    left: -480px;
    justify-content;
}

footer {
    background-color: #ede7e2;
    padding: 20px;
    flex-direction: row;
}

footer table tr td p{
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color:brown;
}

footer table tr td ul{
    font-size: 13px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color:brown;
    list-style:  none;

}

