*{
    padding: 0px; /*espaciado interno 1er param arriba 2do param izq. 3er param abajo*/
   /* margin: 0px; espaciado externo*/
}

header {
        background-color: #89ce36;
        padding: 1%;/*20px;*/
        text-align: center;
        font-size: 16px;
        box-sizing: border-box;
        font-style: italic;
        font-family:'Times New Roman', Times, serif;
} 

header nav{
    display: flex;
    flex-direction: row;
    border: solid 2px white;    
    align-items: center;
}

header ul{
    
        display: flex;
        flex-direction: row;
        list-style:  none;
        align-items: center;
        text-decoration: none;
}

header ul li{
    margin-left: 10px;
    padding: 10% 20%;
    justify-content: start;
    align-items: center;
}

header ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
}

header .logo {
padding: 20%;/*20px;*/
}   

main{ 
    padding:50px 50px;
    box-sizing: border-box;
    /*border: solid 2px black;*/
}

main h1{
    margin-top: 45px;
    font-size: 22px;
    text-align: center;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}

main h3{
    font-size: 18px;
    text-align: center;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}

table{
    width: 100%;
    max-width: 700px;
}

.Whatsapp{
    position: fixed;
    right: 110px;
    bottom: 30px;
}


#TextoFamilia{
    color:black;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    justify-items: center;
}

footer {
    background-color: #ede7e2;
    padding: 20px;
    flex-direction: row;
}

footer table tr td p{
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color:brown;
}

footer table tr td ul{
    text-decoration: none;
    font-size: 13px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color:brown;
    list-style:  none;


}

.contenedorGrid{   
    margin-left: 8%;
    margin-right: 8%;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    margin-top: 10%;
    column-gap: 10px;
    row-gap: 50px;
}

.contenedorGrid div{
    text-align: center;
    background-color: #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenedorfamilia{   
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;}

#ContenedorArea{
    display: grid;
    height: auto;
    grid-template-areas: "Columna Contenido Columna2" ;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto ;
    }

#ColumnaArea{
    grid-area: Columna;
    align-content:center;
    align-items: center;
    padding: 5%;
    background-color:rgb(250, 179, 96);
}

#ColumnaArea2{
    grid-area: Columna2;
    background-color: rgb(250, 179, 96);
}

 #ContenidoArea{
    grid-area: Contenido;
    background-color: rgb(235, 234, 230);
}

@media (max-width:2000px) {
.contenedorGrid{   
    margin-left: 8%;
    margin-right: 8%;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    margin-top: 10%;
    column-gap: 10px;
    row-gap: 50px;
}

}

@media (max-width:600px) {

main h1{
    margin-top: 25px;
    font-size: 12px;
}

main h3{
    font-size: 9px;
}

h5{
        font-size: 0.43em;
}

#TextoFamilia{
    font-size: 8px;
    font-weight: bold;
    font-style: italic;
    justify-items: center;
}
.contenedorGrid{   
    margin-left: 8%;
    margin-right: 8%;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin-top: 10%;
    column-gap: 10px;
    row-gap: 50px;
}

}