@import "Variables";

        main{ 
            padding:50px 50px;
            box-sizing: border-box;
            /*border: solid 2px black;*/
        }

        main h1{
            margin-top: 45px;
            font-size: 22px;
            text-align: center;
            font-style: italic;
            font-weight: bold;
        }

        main h2{
            margin-top: 30px;
            font-size: 20px;
            text-align: center;
            font-style: italic;
            font-weight: bold;
        }

        main h3{
            font-size: 18px;
            text-align: center;
            font-style: italic;
            font-weight: bold;
        }

        .ListaServicios{
            margin-left: 15%;
            margin-right: 15%;

        }

        table{
            width: 100%;
            max-width: 700px;
        }

        .Whatsapp{
            position: fixed;
            right: 110px;
            bottom: 30px;
        }


        #TextoFamilia{
            color:black;
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
            justify-items: center;
        }

        .contenedorGrid div{
            text-align: center;
            background-color: #eeeeee;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .contenedorfamilia{   
            width: 60%;
            margin-left: 20%;
            margin-right: 20%;
            display: grid;}

        #ContenedorArea{
            display: grid;
            height: auto;
            grid-template-areas: "Columna Contenido Columna2" ;
            grid-template-columns: 15% 70% 15%;
            grid-template-rows: auto ;
            }

        #ColumnaArea{
            grid-area: Columna;
            align-content:center;
            align-items: center;
            padding: 5%;
            background-color:rgb(250, 179, 96);
        }

        #ColumnaArea2{
            grid-area: Columna2;
            background-color: rgb(250, 179, 96);
        }

        #ContenidoArea{
            grid-area: Contenido;
            /*background-color: rgb(235, 234, 230);*/
            /*background-color: rgb(63, 17, 148);*/
        }            
            
        .index-header-btn{
            border-radius: 0.5rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        .Card-casa-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap:1rem;
            row-gap: 4rem;
            padding-top: 20px;
        }
        .Card-casa{
            width: 25rem;
            border: 1px solid rgba(0, 0, 0, 0.281);
        }
        .Card-casa-imagen{
            height: 15rem;
            width: 100%;
            object-fit: cover;
        }
        .card-casa-titulo{
            font-weight: 600;
        }
        .card-cada-btn{
            border: none;
            background-color: black;
            color:#ffffff;
            padding: 0.5rem;
            width: 100%;
        }

/*Resolución*/

@media (max-width:2000px) {
.contenedorGrid{   
    margin-left: 8%;
    margin-right: 8%;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    margin-top: 10%;
    column-gap: 10px;
    row-gap: 50px;
    font-weight: bold;
}

}

@media (max-width:600px) {

main h1{
    margin-top: 25px;
    font-size: 12px;
}

main h3{
    font-size: 9px;
}

h5{
        font-size: 0.43em;
}

#TextoFamilia{
    font-size: 8px;
    font-weight: bold;
    font-style: italic;
    justify-items: center;
}
.contenedorGrid{   
    margin-left: 8%;
    margin-right: 8%;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin-top: 10%;
    column-gap: 10px;
    row-gap: 50px;
    font-weight: bold;
}

}        