@import "Variables";

@mixin Main_h_styles($margintop, $fontsize) {
    margin-top: $margintop;
    font-size: $fontsize;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

main{ 
    padding:50px 50px;
    box-sizing: border-box;
    /*border: solid 2px black;*/
}

main h1 {
  @include Main_h_styles(45px, 22px);
}

main h2 {
  @include Main_h_styles(30px, 20px);
}

main h3 {
  @include Main_h_styles(18px, 18px);
}
        
.ListaServicios{
    margin-left: 15%;
    margin-right: 15%;
}

table{
    width: 100%;
    max-width: 700px;
}

.Whatsapp{
    position: fixed;
    right: 110px;
    bottom: 30px;
}


#TextoFamilia{
    color:black;
    @include Main_h_styles(0px, 18px);
}

.contenedorGrid div{
    text-align: center;
    background-color: #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenedorfamilia{   
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
}

#ContenedorArea{
    display: grid;
    height: auto;
    grid-template-areas: "Columna Contenido Columna2" ;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto ;
}

#ColumnaArea{
    grid-area: Columna;
    align-content:center;
    align-items: center;
    padding: 5%;
    background-color:rgb(250, 179, 96);
}

#ColumnaArea2{
    grid-area: Columna2;
    background-color: rgb(250, 179, 96);
}

#ContenidoArea{
    grid-area: Contenido;
    background-color: rgb(235, 234, 230);
}            
            
.index-header-btn{
    border-radius: 0.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.Card-casa-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
    row-gap: 4rem;
    padding-top: 20px;
}

.Card-casa{
    width: 25rem;
    border: 1px solid rgba(0, 0, 0, 0.281);
}

.Card-casa-imagen{
    height: 15rem;
    width: 100%;
    object-fit: cover;
}
        
.card-casa-titulo{
    font-weight: 600;
}

.card-cada-btn{
    border: none;
    background-color: black;
    color:#ffffff;
    padding: 0.5rem;
    width: 100%;
}

/*Resolución*/

@media (max-width:2000px) {
.contenedorGrid{   
    margin-left: 8%;
    margin-right: 8%;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    margin-top: 10%;
    column-gap: 10px;
    row-gap: 50px;
    font-weight: bold;
}

}


@media (max-width:600px) {

main h1 {
  @include Main_h_styles(25px, 21px);
}

main h3 {
  @include Main_h_styles(0px, 9px);
}


h5{
    font-size: 0.43em;
}

TextoFamilia {
  @include Main_h_styles(0px, 8px);
}

.contenedorGrid{   
    margin-left: 8%;
    margin-right: 8%;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin-top: 10%;
    column-gap: 10px;
    row-gap: 50px;
    font-weight: bold;
}

}   

/* Contenedor principal para centrar el formulario */
  .form-container1 {
    background: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    max-width: 450px;
    width: 90%;
    display: flex;
    
  }

  .form {
    width: 100%;
  }

  .form-group {
    margin-bottom: 18px;
  }

  .label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #444;
  }

  .input, select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }

  .input:focus, select:focus {
    border-color: #007BFF;
    outline: none;
  }

  .button {
    width: 100%;
    padding: 12px;
    margin-top: 30px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
